<div class="container">
  <div>
    <h3>Anzahl der zu versteigernden Zertifikate: {{ totalConsumption }}</h3>
  </div>
  <div class="search">
    <h3 id="search">Fluggesellschaft:</h3>
    <mat-form-field appearance="fill">
      <mat-label>Fluggesellschaft</mat-label>
      <select matNativeControl>
        <option value="lufthansa">Lufthansa</option>
        <option value="emirates">Emirates</option>
        <option value="etihad">Etihad Airways</option>
        <option value="british">British Airways</option>
        <option value="easyJet">EasyJet</option>
        <option value="ryanair">Ryanair</option>
      </select>
    </mat-form-field>
  </div>
  <div class="search">
    <h3 id="search">Zertifikatmenge:</h3>
    <mat-form-field appearance="fill">
      <mat-label>Emission in Tonnen</mat-label>
      <input matInput type="number" [(ngModel)]="sellValue" />
    </mat-form-field>
  </div>
  <button
    class="padding"
    mat-raised-button
    color="primary"
    (click)="postCertificate(sellValue)"
  >
    Zertifikat austeilen
  </button>
  <div *ngIf="clicked" class="error-div">
    <p class="error">{{ warning }}</p>
  </div>
</div>
