<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/">
      <img
        class="jpg-icon"
        src="./assets/mission-emission-logo.jpeg"
        style="max-width: 280px; min-width: 80px"
      />
    </button>
  </span>
  <div fxLayout="row">
    <button mat-button *ngIf="isLoggedIn" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>
</mat-toolbar>
<h1 *ngIf="isLoggedIn">Herzlich Willkommen {{ user }}</h1>
<router-outlet></router-outlet>
